@page
@model PROG6212_PoE.Pages.LoginModel
@{
    Layout = "_Login";
}

<div class="login-page">
    <div class="form">
        <form class="register-form">

            <input type="text" placeholder="name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email address" />
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form" method="post">
            <h2>Login</h2>
            <input type="text" placeholder="username" name="txtName" />
            <input type="password" placeholder="password" name="txtPassword" />
            <button type="submit">Login</button>
            <p class="message">Not registered? <a href="/Register">Create an account</a></p>
        </form>
    </div>
</div>